<div class="page-container">
    <div class="pdf-viewer">
        I am PDF Viewer.
    </div>
    <div class="form-viewer">
        <div class="main">
            Rule 26 Proof of Residence
        </div>
        <br />
        <!-- <div>
            <router-outlet></router-outlet>
            <a routerLink="/certificateforbcs6">Certificate for BCS</a>
            <br/>
            <a routerLink="/compensation6">Compensation Form6</a>
        </div> -->
        <div>
            <ul>Rule6 Routes</ul>
            <li><a routerLink="/rule6/certificateforbcs6">Rule6 Certificatefor BCS</a></li>
            <li><a routerLink="/rule6/compensation6">Rule6 Compensation</a></li>
            <br/>
            <ul>Rule26 Routes</ul>
            <li><a routerLink="/rule26/identificationdoc">Rule26 Identification Doc</a></li>
            <li><a routerLink="/rule26/compensation">Rule26 Compensation</a></li>
            <br/>
        </div>
    <router-outlet></router-outlet>

    </div>