<div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Date of Accident</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Disease Diagnostic Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Start & End Date of Hospitalization</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
            </mat-date-range-picker-actions>
        </mat-date-range-picker>
    </mat-form-field>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Cause of Hospitalization</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>

    <section class="example-section">
        <span class="example-list-section">
            <mat-label>Disability</mat-label>
        </span>
        <span class="example-list-section">
            <ul>
                <li *ngFor="let subtask of task.subtasks">
                    <mat-checkbox>
                        {{subtask.name}}
                    </mat-checkbox>
                </li>
            </ul>
        </span>
    </section>
</div>